<%- cache(description) do -%>
  <article class="dh-element dh-description">

    <h2 class="dh-description-title"><%= description.value_for('title') %></h2>

    <p class="dh-description-year">
      <time datetime="<%= description.value_for('year') %>">
        <%= description.value_for('year') %></time>
    </p>

    <p class="dh-description-media"><%= description.value_for('media') %></p>

    <section class="dh-description-body">
      <%= raw description.value_for('body') %>
    </section>

  </article>

<%- end -%>
