<%- cache(description_view) do -%>
  <article class="dh-element dh-description">

    <h2 class="dh-description-title"><%= description_view.ingredient('title') %></h2>

    <p class="dh-description-year">
      <time datetime="<%= description_view.ingredient('year') %>">
        <%= description_view.ingredient('year') %></time>
    </p>

    <p class="dh-description-media"><%= description_view.ingredient('media') %></p>

    <section class="dh-description-body">
      <%= raw description_view.ingredient('body') %>
    </section>

  </article>

<%- end -%>
