<%- cache(element) do -%>

  <h2><%= element.ingredient('title') %></h2>

  <% year = element.ingredient('year').year %>
  <p><time datetime="<%= year %>"><%= year %></time></p>

  <p><strong>Materials:</strong><br />
    <%= element.ingredient('media') %>
  </p>

  <section>
    <%= render inline: element.ingredient('body') %>
  </section>

<%- end -%>
