<%- cache(element) do -%>
  <audio controls="controls">
    <% element.essence_files.each do |essence_file| %>  
      <source src="<%= essence_file.attachment_url %>" />
    <% end %>  
  </audio>

  <%# Ogg und Mp3-Dateien müssen beide vorhanden sein, so wie es jetzt
      programmiert ist. Außerdem: Wie sicherstellen, dass es tatsächlich
      die richtigen Dateien (in der richtigen Reihenfolge) sind? %>
  <p>
    Download
    <%= link_to 'Ogg', element.essence_files[0].attachment_url %>
    or
    <%= link_to 'Mp3', element.essence_files[1].attachment_url %>
  </p>

  <%# old stuff %>
  <%= element_view_for(element) do |el| -%>
    <div class="ogg_file">
      <%= el.render :ogg_file %>
    </div>
    <div class="mp3_file">
      <%= el.render :mp3_file %>
    </div>
  <%- end -%>

<%- end -%>
