<!DOCTYPE html>
<html>
<head>
  <%= render 'alchemy/pages/meta_data' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <div id="main-wrapper">
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-header">
          </div>
          <div id="navbar">
            <ul class="nav dh-navbar-nav">
              <li><%= link_to 'Start', '/start' %></li>
              <% Alchemy::Language.current.root_page.children.published.each do |page| %>
                <li><%= link_to page.name, "/#{page.urlname}" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
      <%= render 'alchemy/preview_mode_code' %>
      <%= render "alchemy/menubar" %>
    </div>
    <footer>
      <ul class="footer-links">
        <li>
          <%= link_to "Impressum", "/impressum" %>
        </li>
      </ul>
    </footer>
  </div>
</body>
</html>
