<!DOCTYPE html>
<html>
<head>
  <%= render_meta_data %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <nav class="navbar">
    <%= render_navigation({}, {class: 'navigation'}) %>
  </nav>

  <div class="container">
    <%= yield %>
    <%= alchemy_preview_mode_code %>
    <%= render "alchemy/menubar" %>
  </div>

</body>
</html>
